autocorrect
Flask
Flask_Bcrypt
Flask_Login
Flask_Mail
flask_sqlalchemy
Flask_WTF
itsdangerous
keras
nltk
numpy
Pillow
WTForms
pymysql
tensorflow
email_validator
cryptography
mysql-connector-python
Werkzeug